numdifftools==0.9.39
absl-py==0.7.1
appnope==0.1.0
astor==0.7.1
atari-py==0.2.3
backcall==0.1.0
baselines==0.1.6
certifi==2019.6.16
cffi==1.12.3
Click==7.0
cloudpickle==1.2.1
cycler==0.10.0
decorator==4.4.0
future==0.17.1
gast==0.2.2
google-pasta==0.1.7
grpcio==1.16.1
gym==0.13.0
h5py==2.9.0
ipdb==0.12
ipython==7.6.0
ipython-genutils==0.2.0
jedi==0.14.0
joblib==0.13.2
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.1.0
Markdown==3.1.1
matplotlib==3.1.0
mpi4py==3.0.2
nn-builder==1.0.5
numpy==1.16.4
olefile==0.46
opencv-python==4.1.0.25
pandas==0.24.2
parso==0.5.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
prompt-toolkit==2.0.9
protobuf==3.8.0
ptyprocess==0.6.0
pycparser==2.19
pyglet==1.3.2
Pygments==2.4.2
pyparsing==2.4.0
python-dateutil==2.8.0
pytorch-policy==0.1.1
pytz==2019.1
scipy==1.3.0
six==1.12.0
tb-nightly==1.14.0a20190301
tensorboard==1.13.1
tensorboardX==1.7
tensorflow==2.0.0a0
tensorflow-estimator==1.13.0
termcolor==1.1.0
tf-estimator-nightly==1.14.0.dev2019030115
torch==1.1.0.post2
torchvision==0.3.0
tqdm==4.32.2
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.15.4
